<div class="row">
	<div class = "col-md-10 col-md-offset-1">
		<form name= "passwordform" class="form-horizontal css-form" role="form">
			<h2>Change Your Password</h2>

			<div class="form-group">
				<label for="password" class="col-sm-4 control-label">Current Password*</label>
				<div class="col-sm-5">
					<input type="password" id="oldpassword" placeholder="Enter Your Old Password" ng-model="oldpassword" name="oldpassword" class="form-control" required>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-4 control-label"></label>
				<div class="col-sm-5">
					<div ng-show="form.$submitted || passwordform.oldpassword.$touched">
						<span style="color:red;" ng-show="passwordform.oldpassword.$error.required">You have to fill this Field</span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="password" class="col-sm-4 control-label">New Password*</label>
				<div class="col-sm-5">
					<input type="password" id="newpassword" placeholder="Enter Your New Password" ng-model="newpassword" name="newpassword"
					class="form-control" required ng-required\>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-4 control-label"></label>
				<div class="col-sm-5">
					<div ng-show="form.$submitted || passwordform.newpassword.$touched">
						<span style="color:red;" ng-show="passwordform.newpassword.$error.required">You have to fill this Field</span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="password" class="col-sm-4 control-label">Confirm New Password*</label>
				<div class="col-sm-5">
					<input type="password" id="renewpassword" placeholder="RE-Enter Your New Password" ng-model="renewpassword" name="renewpassword"
					required class="form-control"  ng-required pw-check='newpassword'/>
				</div>

				<div ng-show='passwordform.$error'>
					<label class="col-sm-4 control-label"></label>
					<div class="col-sm-5">
						<span style="color:red;" class='msg-error' ng-show='passwordform.renewpassword.$error.pwmatch'>Passwords don't match.</span>
					</div>
				</div>
			</div>



			<div class="form-group" >
				<div class="col-md-2 col-md-offset-7 container">
					<button type="submit" ng-click="submit(); toggleModal('Completed')"
					ng-model="button" ng-disabled="passwordform.$invalid;"
					class="btn btn-primary btn-block">OK</button>
					<modal visible="showModal">
						Your Password is changed !
					</modal>
				</div>
			</div>

		</form> <!-- /form -->
	</div>
</div>
<!-- end of Page Content  -->
